%div= link_to "作成",  new_category_path
%table
  %thead
    %tr
      %th カテゴリー
  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to "#{category.cate_name}", category_blogs_path(category)
        %td= link_to '編集', edit_category_path(category)
        %td= link_to '削除', category_path(category)